{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bidan Novalina</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="static/css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Bidan Novalina</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#profilbidan">Profil Bidan</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#fasilitas">Fasilitas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#layanan">Layanan</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#daftar">Daftar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactus">Contact Us</a>
                    </li>
                    <li>
                        <a href="/admin">Masuk</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Selamat Datang di Klinik Bidan Novalina</div>
                <div class="intro-heading">Langkah Nyaman Sambut Buah Hati</div>
                <a href="#daftar" class="page-scroll btn btn-xl">DAFTAR</a>
            </div>
        </div>
    </header>

    <!-- Profil Section -->
    <section id="profilbidan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Profil Bidan</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="static/img/bidan.JPG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Bidan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p><h4>Novalina,S,Am KEb</h4></p>
                                    <p><h5>SIPB.No. 503.440/25/SIPB/429.206/2010</h5></p>
                                    <p>Klinik Bidan Novalina melayani 24 JAM</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Fasilitas Section -->
    <section id="fasilitas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fasilitas</h2>
                    <h3 class="section-subheading text-muted">Bidan Novalina menyediakan.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kamar</h4>
                    <p class="text-muted">Menyediakan kamar bersalin dan kamar tindakan.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ruang Tunggu</h4>
                    <p class="text-muted">Menyediakan ruang tunggu yang cukup luas.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">USG</h4>
                    <p class="text-muted">Menyediakan pelayanan USG.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Obat</h4>
                    <p class="text-muted">Menyediakan obat - obatan yang lengkap.</p>
                </div>
            </div>
        </div>

    </section>

    <!-- Layanan -->
    <section id="layanan" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Layanan</h2>
                    <h3 class="section-subheading text-muted">Bidan Novalina menyediakan.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#layananKonsultasiKehamilan" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-image">
                            <img src="static/img/pregnant.jpg" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Konsultasi Kehamilan</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#layananMelahirkan" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-image">
                            <img src="static/img/newbornbaby.jpg" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Melahirkan</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#layananUsg" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-image">
                            <img src="static/img/usg.jpg" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>USG</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#layananKonsultasiIbudanAnak" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-image">
                            <img src="static/img/ibuanak.jpg" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Konsultasi Ibu dan Anak</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#layananKb" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-image">
                            <img src="static/img/KB.jpg" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>KB</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#layananImunisasi" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-image">
                            <img src="static/img/imunisasi.jpg" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Imunisasi</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Register Section -->
    <section id="daftar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registrasi</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Buat akun
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- contact us Section -->
    <section id="contactus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Klinik Bidan
                        Novalina
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Klinik Bidan Novalina
                    </p>
                    <p>
                        Alamat      : Jl. Garuda 2B rt 004/01 no. 30 kelurahan pasir gunung selatan kecamatan cimanggis kota depok
                    </p>
                    <p>
                        No. Telp    : 081514259863
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Bidan Novalina</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Layanan Konsultasi Kehamilan -->
    <div class="portfolio-modal modal fade" id="layananKonsultasiKehamilan" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Detail Layanan -->
                                <h2>Konsultasi Kehamilan</h2>
                                <img class="img-responsive img-centered" src="static/img/pregnant.jpg" alt="">
                                <p>Klinik Bidan Novalina melayani konsultasi kehamilan. Konsultasi kehamilan sangat penting bagi ibu hamil dikarenakan salah satu tahapan menuju kehamilan yang sehat.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Layanan Melahirkan -->
    <div class="portfolio-modal modal fade" id="layananMelahirkan" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Melahirkan</h2>
                                <img class="img-responsive img-centered" src="static/img/newbornbaby.jpg" alt="">
                                <p> Klinik Bidan Novalina melayani proses persalinan selama 24 JAM dan ditangani langsung oleh bidan ahli persalinan.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Layanan USG -->
    <div class="portfolio-modal modal fade" id="layananUsg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>USG</h2>
                                <img class="img-responsive img-centered" src="static/img/usg.jpg" alt="">
                                <p>Klinik Bidan Novalina melayani USG setiap hari sabtu pukul 17.00 wib - selesai. Diharapkan pasien datang 30 menit sebelumnya.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Layanan Konsultasi Ibu dan Anak -->
    <div class="portfolio-modal modal fade" id="layananKonsultasiIbudanAnak" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Konsultasi Ibu dan Anak</h2>
                                <img class="img-responsive img-centered" src="static/img/ibuanak.jpg" alt="">
                                <p>Klinik Bidan Novalina melayani konsultasi ibu dan anak.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Layanan KB -->
    <div class="portfolio-modal modal fade" id="layananKb" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Keluarga Berencana</h2>
                                <img class="img-responsive img-centered" src="static/img/KB.jpg" alt="">
                                <p>Klinik Bidan Novalina melayani KB.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Layanan Imunisasi -->
    <div class="portfolio-modal modal fade" id="layananImunisasi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Imunisasi</h2>
                                <img class="img-responsive img-centered" src="static/img/imunisasi.jpg" alt="">
                                <p>Klinik Bidan Novalina melayani Imunisasi bagi balita.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/agency.min.js"></script>

</body>

</html>
